<div class='guest-list'>
  <div class='add-button'>
    {{#link-to 'guests.new'}}Sign the guest book{{/link-to}}
  </div>
  <h2 class='page-title'>Guest Book</h2>
  <table cellspacing='0' width='100%'>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Message</th>
    </tr>
    {{#each attrs.guests as | guest |}}
      <tr class='guest'>
        <td>{{guest.firstname}} {{guest.lastname}}</td>
        <td>{{guest.location}}</td>
        <td>{{guest.message}}</td> 
      </tr>
    {{/each}}
  </table>
</div>
